* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.sale__laptop {
    height: 3em;
    width: 1200px;
    margin: auto;
}

.header__logo {
    padding-right: 15px;
}

.icon-logo {
    background-image: url(//cdn.tgdd.vn/mwgcart/mwg-site/ContentMwg/images/TGDD/Desktop/icon_common@2x.png?v=1);
    background-repeat: no-repeat;
    display: inline-block;
    height: 2em;
    width: 2em;
    line-height: 2em;
    vertical-align: middle;
    background-size:20em 17em;
}

.header__logo a {
    text-decoration: none;
    transition: .2s;
    color: #288ad6;
}

.icon-logo {
    background-position: 0 0;
    height: 2.1em;
    width: 10em;
}

/* HEADER */

.header {
    height: 3em;
    background-color: #000;
}

.container__header {
    width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

.header__left {
    display: flex;

}

.header__nav {
    padding: 0 0.3em;
}

.header__nav a {
    color: #fff;    
    text-decoration: none;
    font-size: 1em;
    line-height: 3em;
}

.header__checking {

}

.header__checking a {
    display: block;
    line-height: 3em;
    font-size: 0.7em;
}

.header__checking a span {
    display: block;
    line-height: 2px;
    color: yellow;
}

/* header__bags */

.header__bags {
    border: 1px solid #ccc;
    margin: 5px 5px; 
    border-radius: 4px;
}

.header__bags a {
    display: block;
    font-size: 1em;  
    padding: 0px 1rem;
    width: 100%;
    line-height: 2.2em;
    color: #fff;    
    text-decoration: none;
    font-size: 1em;
    /* line-height: 3em; */
}

.header__bags:hover a {
    /* border: 1px solid #ccc; */
    background-color: red;
    color: #fff;
}


.header__bags a span {
    display: inline-block;
    vertical-align: middle;
}

.header__input {
    line-height: 3em;
    /* width: 15%; */
    /* position: relative; */
}

.header__input input {
    border: none;
    font-size: 1em;
    height: 1.5em;
    padding: 8px 35px 8px 13px;
    border-radius: 4px;
    display: inline-block;
    outline: none;
}

.header__history a {
 
}

.bars .icon__bars {
    height: 3em;
    width: 3em;
    display: block;
    line-height: 4.7em;
    color: #fff;
    line-height: 3em;
    padding: 0.3em;
}

/* header-right */
.header__right {
    display: flex;
    /* margin-right: 1em; */
}


.header__right .header__nav {
    border-left: 1px solid #ccc;
    padding: 0 0.5em;
}

.header__technology {
    
}

.header__answer {

}

.header__app {

}

/* end header */

/* start navi */

.container__navi {
    height: 2.5em;
    background-color: yellow;
    
}

.navi {
    width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

.navi .navi__product {
    line-height: 2.5em;
    display: block;
    padding: 0 0.5em;
}

.navi .navi__product a {
    
    text-decoration: none;
    list-style: none;
    color: #000;
}

/* end navi */

/* start sub nav */
.close {

}

.close .icon__close {
    width: 2em;
    height: 2em;
    position: absolute;
    color: #000;
    top: 1em;
    left: 1em;
}

.sub__nav {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    text-align: center;
    display: none;
    height: 34.3em;
}

.sub__nav h3 {
    color: red;
}

.sub__nav ul {
    list-style: none;
    border-bottom: 1px solid #fff;
    padding: 1em;
    
}

.sub__nav ul li {
    display: none;
    
}

.sub__nav ul li a {
    font-size: 1em;
    line-height: 3em;
    display: block;
    text-decoration: none;
    color: #000;
    border-bottom: 1px solid #000;
    /* border-top: 1px solid #288ad6; */

}

/* start slider */

.slider {
    padding-top: 2em;
}

.slider .img__slider-avt  {
    height: 19em;
}

.slider .img__slider {
    width: 100%;
}

/* end slider */

/* start banner */

.banner {
    border-radius: 4px;
}

.banner a {
    margin-top: 1em;
    margin-bottom: 1em; 
    display: block;
    /* line-height: 3em; */
}

.banner a .img__banner {
    width: 100%;
}

/* end banner */

/* start content */

.content__sale {
    background-color: yellow;
    padding-bottom: 1em;
    margin: 0%;
}


.img__content {
    width: 100%;
}
.content__header {
    padding: 0.5em ;
}

.content__sale-product {
    
}

.content__sale-info {
    background-color: #fff;
    color: #000;
    padding: 1em;
}

/* end content-sale */

/* start content-phone */

.content__accessory .row,
.content__lap .row,
.content__phone .row{
    margin: 0;
    /* background-color: yellow; */
}

.content__accessory-header,
.content__lap-header,
.content__phone-header {
    display: flex;
    justify-content: space-between;
    height: 3em;
    margin: 1em;
    width: 100%;
}

.content__header-accessory,
.content__header-lap,
.content__header-phone {
    line-height: 1.5em;
}

.content__header-int1,
.content__header-int2,
.content__header-int3 {
    display: flex;
    font-size: 1em;
    
    
}

.content__header-int1 a,
.content__header-int2 a,
.content__header-int3 a {
    border: 1px solid;
    font-size: 1em;
    line-height: 2em;
    border-radius: 1em;
    background-color: #ccc;
    display: block;
    margin: 0.5em 0.2em;
    padding: 0px 1em;
    list-style: none;
    text-decoration: none;
    color: #000;
}
.img__content-accessory,
.img__content-lap,
.img__content-phone {
    width: 100%;
}


.content__accessorys,
.content__laps,
.content__phones {
    padding-top: 2em;
    border: 1px solid #ccc;
}


.content__accessory-info,
.content__lap-info,
.content__phone-info {
    background-color: #fff;
    color: #000;
    padding: 1em;
}

/* end content */

/* start container__navi */
.container__navi {
    display: none;
}
/* end container__navi */

/* start footer */

.footer {
    background-color: #ccc;
}

.footer__item {
    margin-right: -4px;
    padding: 1em 2em;
    border-right: 1px solid #fff;
    
}

.footer__item ul{
    list-style: none;
}

.footer__item ul li{
    padding-bottom: 1em;
    
}

.footer__item ul li a{
    color: #000;
    text-decoration: none;
}

.footer__item p{
    padding-bottom: 1em;
    
    
}

/* responsive */

/* moile */
@media (max-width: 739px) { 
    /* start sale-laptop  */
    .sale__laptop {
        width: auto;
        height: auto;
    }

    .sale__laptop a img {
        width: 100%;
    }
    /* end sale-laptop */


    /* header */
    .header {
        height: 6em;
        width: 100%;
    }
    
    .header__left {
        display: flex;
        justify-content: space-around;
    }

    .header .container__header {
        width: 100%;
        margin: 0 auto; 
    }

    .header .container__header .header__left{
        display: flex;
        flex-wrap: wrap;
        /* line-height: 5em; */
        width: 100%;
    }

    .header .container__header .header__left .header__input input {
        padding: 0;
    }

    .header .container__header .header__left .header__checking {
        display: none;
    }

    .header .container__header .header__left .header__bags {
        display: inline-block;
        
    }


    .header__right {
        display: none;
    }

    /* end header */
    
    
    
    /* start navi */
    .container__navi {
        display: none;
    }

    /* end navi */
    
    .nav__input:checked ~ .sub__nav {
        display: block;   
    }
    
    .content__phone {
        /* display: none; */
    }


    .content__accessory-header,
    .content__lap-header,
    .content__phone-header {
        font-size: 0.8em;
        width: 100%;
    }

    .content__header-int1,
    .content__header-int2,
    .content__header-int3 {
        display: none;
    }
    
    /*  */
    /* footer */
    .footer__item {
        border-bottom: 1px solid #fff;
        padding: 2em 0;
        margin-right: 0;
        text-align: center;
    }
}

/* >= Tablet */
@media (min-width: 740px) { 
    .sale__laptop {
        width: auto;
        height: auto;
    }
    
    .sale__laptop a img {
        width: 100%;
    }

    .header {
        height: 3em;
        width: 100%;
    }


    .header .container__header {
        width: 100%;
        margin: 0 auto; 
    }

    .header .header__nav {
        /* padding-right: 2em; */
    }

    .header .container__header .header__left .header__checking {
        display: none;
    }

    .header__right {
        display: none;
    }
    /*  */
    .container__navi {
        display: none;
    }

    .nav__input:checked ~ .sub__nav {
        display: block;   
    }

    .content__accessory-header,
    .content__lap-header,
    .content__phone-header {
        font-size: 0.8em;
        width: 100%;
    }

    .content__header-int1,
    .content__header-int2,
    .content__header-int3 {
        display: none;
    }

    /* footer */
    .footer__item {
        border-bottom: 1px solid #fff;
        padding: 2em 0;
        margin-right: -2px;
        text-align: center;
    }
}

@media (max-width: 1112px) {
    .container__navi {
        display: none;
    }

}

/* PC medium resolution > */
@media (min-width: 1113px) { 
    .sale__laptop {
        width: auto;
        height: auto;
    }

    .sale__laptop a img {
        width: 100%;
    }


    .bars {
        display: none;
    }
    /*  */
    .container__navi {
        display: block;
        width: 100%;
        font-size: 1em;
    }

    .header__right {
        display: flex;
        font-size: 1em;
        line-height: 3em;
    }

    .content__accessory-header,
    .content__lap-header,
    .content__phone-header {
        font-size: 0.8em;
        width: 100%;
    }

    .content__header-int1,
    .content__header-int2,
    .content__header-int3 {
        display: flex;
    }
    
}

/* Tablet - PC low resolution */
@media (min-width: 740px) and (max-width: 1023px) { 
    .sale__laptop {
        width: auto;
        height: auto;
    }

    .sale__laptop a img {
        width: 100%;
    }

    .header__left {
        width: 100%;
        display: flex;
        justify-content: space-around;
    }
    /*  */
    .container__navi {
        display: none;
    }
    .content__accessory-header,
    .content__lap-header,
    .content__phone-header {
        font-size: 0.8em;
        width: 100%;
    }

    .content__header-int1,
    .content__header-int2,
    .content__header-int3 {
        display: none;
    }
    .content__header-int1 a,
    .content__header-int2 a,
    .content__header-int3 a {
        /* font-size: 0.6em;
        line-height: 3.5em; */
        /* padding: 0 2em; */
        
    }
}

/* > PC low resolution */
@media (min-width: 1024px) and (max-width: 1239px) { 
    .container__navi {
        display: block;
    }

    .header__right {
        display: flex;
        font-size: 1em;
        line-height: 3em;
    }

    .bars {
        display: none;
    }

    .container__navi {
        display: block;
        width: 100%;
        font-size: 1em;
    }

    .container__navi .navi {
        width: 100%;
    }
}











        

